<div class="flex justify-center">
  <h1 class="title">Our Collection</h1>
  <img src="../../assets/vector.svg" class="" alt="">
  <p class="subtitle">
    Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins, expertly roasted in small batches and shipped fresh weekly.
  </p>
</div>
<div class="justify-center flex mt-20 md:mt-10" >
  <button class="btn btn-all" >All Products</button>
  <button class="ml-4 btn btn-now" >Available Now</button>
</div>
<app-coffee-list />

